SUITES="proeftuin"
ISSUER="agent.dev.eduwallet.nl"
ISSUER_MBOB_TOKEN=
ISSUER_HBOT_TOKEN=
ISSUER_UVH_TOKEN=
ISSUER_TUN_TOKEN=
ISSUER_EPI_TOKEN=
ISSUER_NLGOV_TOKEN=
ISSUER_NBGOV_TOKEN=
ISSUER_SANDBOX_TOKEN=

