DOMAIN=dev.eduwallet.nl
ISSUER="agent.${DOMAIN}"
ISSUER_HBOT_TOKEN=...
ISSUER_MBOB_TOKEN=...
ISSUER_TUN_TOKEN=...
ISSUER_UVH_TOKEN=...
ISSUER_EPI_TOKEN=...
ISSUER_NLGOV_TOKEN=...
ISSUER_NBGOV_TOKEN=...
ISSUER_SANDBOX_TOKEN=...
STATUS="status.${DOMAIN}"
VERIFIER="verifier.${DOMAIN}"

